* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: laxend, sans-serif;
}

.uniquifier > {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  /* padding-left: 4vw;
    padding-right: 4vw; */
}

.header {
  height: 101px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
  justify-content: space-around;
  position: fixed;
  background-color: #ffffff;
}

.nav a {
  color: #a053cf;
  font-size: 1.1vw;
  font-weight: 800;
  text-decoration: none;
}

.nav i {
  /* position: relative; */
  font-size: 1.4rem;
  align-items: center;
  color: black;
  /* padding-top: 4vh; */
}

.nav-1 {
  display: flex;
  gap: 2vw;
}

.nav-1 a {
  color: #000000;
  font-size: 1.1vw;
  text-decoration: none;
}

.nav-2 button {
  font-size: 1.2vw;
  font-weight: 500;
  border: 1.5px solid #f27222;
  border-radius: 8px;
  padding: 0.8rem;
  background-color: white;
  color: #f27222;
}

.nav-2 a {
  color: #f27222;
  text-decoration: none;
}

/* .second{
    display: flex;
    padding: 6vw;
    height: calc(100% - 101px);
    display: flex;
    width: 100%;
}

.left img{
    height: 100%;
    width: 80%;
    padding: 7vw 4vw;
} */

span {
  color: crimson;
}

/*   */

.right {
  height: 100%;
  padding-left: 8vw;
}

.right h1 {
  font-size: 3rem;

  padding-top: 6vh;
}

.right p {
  font-size: 1.5rem;
  line-height: 1.7;
  padding: 4vh 0vh;
  padding-bottom: 4vh;
}

.right button {
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem 4.5rem;
  background-color: #f27222;
  color: white;
}

.right button a {
  color: white;
  text-decoration: none;
}

.child {
  display: flex;
  padding: 2rem;
  color: #a053cf;
  padding-bottom: 4vh;
  padding-top: 4vh;
}

.child1 {
  padding-right: 1rem;
  border-right: 1px solid#A053CF;
  
}

.child2 {
  padding-left: 3vw;
}

.child small {
  font-size: medium;
}

.animation p {
  padding-top: 3vh;
  font-size: 1.5rem;
}

.third {
  padding-top: 7vh;
  margin-bottom: 4%;
  padding-left: 7vw;
  padding-right: 7vw;
}

/* .third p {
      
      line-height: 2;
      font-weight: lighter;
     font-size: 1.3em;
  } */

#one {
  line-height: 2;
  font-weight: lighter;
  font-size: 1.3em;
}

.second {
  display: inline-flex;
  height: calc(100% - 101px);
  padding-top: 17vh;
  padding-left: 7vw;
  padding-right: 7vw;
  margin-bottom: 4%;
}

.left {
  height: 100%;
  width: 70%;
}

.heading {
  padding-top: 7vh;
  padding-bottom: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#nine{
  padding-right: 2vw;
  font-size: 2vw;
}

.heading h1{
  font-size: 2rem;
}

.box {
  /* padding-left: 4vw;
    padding-right: 4vw; */
  display: flex;
  justify-content: space-evenly;
}

.box1 {
  height: 30vh;
  width: 22vw;
  /* background-color: crimson; */
  line-height: 2;
  margin-bottom: 3%;

  gap: 4vw;
}

.box1 h {
  font-size: 4rem;
}

.box1 p {
  font-size: 1vw;
}

.boxx {
  /* padding-left: 4vw;
    padding-right: 4vw; */
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.box4 {
  height: 30vh;
  width: 22vw;
  /* background-color: crimson; */
  line-height: 2;
  /* padding-right: 6vw; */

  gap: 4vw;
}

.box4 h {
  font-size: 4rem;
}

.box4 p {
  font-size: 1vw;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4vh;
  margin-bottom: 4%;
}

.btn1 button {
  border: none;
  border-radius: 7px;
  font-size: 1.3rem;
  padding: 0.7rem 1.3rem;
  background-color: #f27222;
  margin-bottom: 5vh;
  /* font-weight: bold; */
}

.btn1 a {
  color: white;
  text-decoration: none;
}

.blur1 {
  height: 90vh;
  width: 100%;

  background-image: url(./ai9.png);
  background-size: cover;
  display: flex;
  padding-top: 6vh;
  margin-bottom: 9%;
}

/* .blur1 p{
  color:crimson;
} */

/* .blur2 p{
  color:crimson;
} */

/* .blur3 p{
  color:crimson;
} */

.right1 {
  height: 100%;
  padding-left: 25vw;
}

.right1 h1 {
  font-size: 3rem;

  padding-top: 6vh;
}

.right1 p {
  font-size: 1.5rem;
  line-height: 1.7;
  padding: 4vh 0vh;
  padding-bottom: 4vh;
}

.right1 button {
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem 4.5rem;
  background-color: #f27222;
  color: white;
  margin-left: 6.5vw;
 
}

.left1 {
  height: 100%;
  width: 100%;
}

.right1 button a {
  color: white;
  text-decoration: none;
}

.blur2 {
  height: 90vh;
  width: 100%;
  padding-right: 5vw;
  background-image: url(./resume4.webp);
  background-size: cover;
  display: flex;
  padding-top: 6vh;
  margin-bottom: 9%;
}

#three {
  margin-left: 4vw;
}

.blur3 {
  height: 90vh;
  width: 100%;
  padding-right: 5vw;
  background-image: url(./custom3.jpg);
  background-size: cover;
  display: flex;
  padding-top: 6vh;
  margin-bottom: 15vh;
}

.review{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    font-size: 1rem;
}

.review h1 ,h2, pre{
    padding-bottom: 3vw;
}

.subscribe{
  background-image: url(./dots2.jpg);
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  line-height:2;
  font-size: 2.2rem;
  margin-bottom: 9%;
  color: black
}

.subscribe button{
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  background-color: #f27222;
  color: white;
  margin-left: 6.5vw;
  /* font-weight: bold; */
  margin-bottom: 8vh;
}

.subscribe button a{
  color: white;
  text-decoration: none;
}

.subscribe p{
  margin-left: 7vw;
  font-size: smaller;
 
}

.questions{
  display: flex;
  padding-left: 7vw;
  padding-right: 7vw;
  margin-top: 9vh;
  padding-bottom: 9%;
}

.left2{
     height: 100vh;
     width: 40% ;
     line-height: 1.3;
     font-size: 1rem;
}

.right2{
   height: 85vh;
   width: 60%;
   
}

#four{
   font-size:1rem ;
   font-weight: bold ;
}

.right2 p{
  
  
  line-height: 2;
  font-size: 1.3rem;
}

hr{
  margin-bottom: 4vh;
  margin-top: 3vh;
}

.footer{
  display: flex;
  padding-left: 7vw;
  padding-right: 7vw;
  /* background-color: #FAFAFA; */
}

.footer1{
  width: 25%; 
  
  
}

.footer1 a {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
  text-decoration: none;
  color: #000000;
}

.footer1 h3{
  padding-bottom: 5vh;
}

.reserved{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  /* background-color: #FAFAFA; */
}

.third u{
  color: #000000;
}

.logo{
  padding-left: 8%;

}

.logo i{
   padding-right: 2vw;
   padding-top: 2vw;
}


.box i{
  font-size: 2rem;
}

.boxx i{
  font-size: 2rem;
}

.nav-2 i {
  display: none;
  font-size: 6vw;
}


/*  respnsive  */

@media (max-width: 1497px) {
 
  .box{
    margin-bottom: 5%;
  }

  .blur1{
    padding-right: 7%;
  }

}


@media (max-width: 1350px) {
  /* *{
    background-color: #000000;
  } */
  .second{
    flex-direction: column;
  }
  .second .left img{
    width: 90vw;
  }

  .box{
     margin-bottom: 7%;
  }

  #six{
    margin-bottom: 18%;
  }

  .btn1{
    margin-top: 9%;
  }

  .footer{
    margin-top: 20%;
  }
}

.nav-2 i{
  display: none;
}


@media (max-width: 967px) {


.right1{
 display: flex;
flex-direction: column;
align-items: start;
justify-content: start;
padding-right: 9%;
}

.footer{
  margin-top: 10vh;
}

}


/* @media (min-width: 800px to ma) {

} */











@media (max-width: 798px) {

  *{
    margin: 0px;
    padding: 0px;
  }

  .container{
    margin: 0px;
    padding: 0px;
  }


  .second .left img{
    width: 100vw;
  }
  
#nine{
  font-size: large;
}

/* 
  .nav-1 a{
    display: none;
  }

  .nav-2 button{
    display: none;
  }

  .nav-2 i{
    display: block;
    font-size: 4vw;
   
  }

  #seven{
    padding-right: 2vw;
  } */

 
  .heading h1{
    font-size: 3vw;
    line-height: 2;
  }

  .box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .box1{
    margin-bottom: 35%;
    height: 40vh;
    width: 60vw;
  }

  .box1 h2{
     font-size: 6vw;

  }

  .box1 p{
    font-size: 3.9vw;
    
 }

 .boxx{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .box4{
  margin-bottom: 35%;
  height: 40vh;
  width: 60vw;
}

.box4 h2{
   font-size: 6vw;

}

.box4 p{
  font-size: 3.9vw;
  
}
 
.subscribe{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}

.footer{
  margin-top: 65%;
}

.questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.questions .left2{
  margin-bottom: -55%;
  width: 70vw;
  line-height: 2;
}

.questions .right2 p{
   font-size: 3vw;
}



.footer{
   display: flex;
  align-items: center;
  justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
}

.footer1{
  padding-left: 20%;
  width: 70vw;
  font-size: large;
  margin-bottom: 4%;
}
}


@media (max-width: 588px) {
     
  .nav-1 a{
    display: none;
  }

  .nav-2 button{
    display: none;
  }

  .nav-2 i{
    display: block;
    font-size: 4vw;
     
  }
/* 
  #seven{
    padding-right: 30vw;
  } */
  .second .left img{
    width: 180vw;
  }


.right{
  font-size: x-large;
  width: 180vw;
}

.third{
  font-size: x-large;
  padding-left: 10%;
  width: 190vw;
}

.heading{
  width: 150vw;
}

.heading h1{
  font-size: 6vw;
  padding-left: 11%;
  
}

.box1{
  width: 180vw;
  margin-left: 14vw;
  margin-bottom: -5%;
   font-size: larger;
   
}

#eight{
  position: relative;
  margin-top: -20%;
}



.box4{
  width: 180vw;
  margin-left: 14vw;
  margin-bottom: -5%;
  font-size: larger;
 
}

.btn1{
  width: 120vw;
  display: flex;
  justify-content: end;
 
}

.blur1{
  width: 180vw;
}
.blur2{
  width: 180vw;
}

.blur3{
  width: 180vw;
}

.review{
  width: 190vw;
  display: flex;
  justify-content:center;
  font-size: x-large;
}

.subscribe{
  width: 190vw;
  display: flex;
  justify-content:center;
  font-size: x-large;
}

.questions{
  width: 190vw;
  
}

.left2 h1{
  /* font-size: larger; */
  width: 190vw;
  margin-bottom: 20%;
  position: relative;
  margin-left: -45%;
  color: crimson;
  
}





.questions .right2 p{
  font-size: 4vw;
  line-height: 2;
  
}

#four{
  font-size:5vw ;
  
}

.footer{
  margin-top: 40vh;
}

.footer1{
  font-size: x-large;
  padding-left: 70%;
  width: 200vw;
}
.reserved {
  display: flex;
  justify-content: center;
  width: 190vw;
  font-weight: bolder;
}

.header a{
  font-size: larger;
}

.questions .right2{
  margin-top: -40%;
 }

}

  @media (max-width: 468px) {

  .review{
    padding-left: 12vw;
  }

  /* .footer{
    margin-top: 30%;
  } */

 .questions .right2{
  margin-top: -35%;
 }

  .review h1{
    font-size: 9vw;
  }

  .review h1 {
    color: #a053cf;
  }

 #nine{
  font-size: x-large;
 }

  }

